*~
*.fsc2_so
*.o
*.a
*.ko
*_lexer.c
*.so
*_parser.c
*_parser.h
*_parser.output
*.bak
*.gdb.hist
#*
.#*
[Mm]akelog
FcntlLock/FcntlLock.bs
FcntlLock/FcntlLock.c
FcntlLock/FcntlLock.h
FcntlLock/FcntlLock.o
FcntlLock/Makefile
FcntlLock/blib
FcntlLock/pm_to_blib
doc/*.html
doc/cursor*
doc/*.gz
doc/*.info*
doc/*.pdf
doc/*.eps
fsc2_config.h
*.cmd
.tmp_versions/
Module.markers
Module.symvers
autoconf.h
*/driver/*mod.c
*/driver/modules.order
rulbus/lib/lexer.c
rulbus/lib/parser.c
rulbus/lib/parser.h
rulbus/lib/parser.output
modules/bmwb
modules/hp5342a.c
modules/hp5343a.c
modules/hp864*.c
modules/hp864*.map
modules/hp864*_gpib.c
modules/hp864*_lexer.l
modules/hp864*_util.c
modules/lecroy9410.c
modules/lecroy9410.map
modules/lecroy9410_gpib.c
modules/lecroy9410_util.c
modules/lecroy9420.c
modules/lecroy9420.map
modules/lecroy9420_gpib.c
modules/lecroy9420_util.c
modules/lecroy9424.c
modules/lecroy9424.map
modules/lecroy9424_gpib.c
modules/lecroy9424_util.c
modules/lecroy9424e.c
modules/lecroy9424e.map
modules/lecroy9424e_gpib.c
modules/lecroy9424e_util.c
modules/lecroy9450.c
modules/lecroy9450.map
modules/lecroy9450_gpib.c
modules/lecroy9450_util.c
modules/me_dio_[0123].c
modules/s_band_magnet_broad.c
modules/s_band_magnet_narrow.c
modules/tds520.c
modules/tds520.map
modules/tds520_gpib.c
modules/tds520_util.c
modules/tds520a.c
modules/tds520a.map
modules/tds520a_gpib.c
modules/tds520a_util.c
modules/tds520c.c
modules/tds520c.map
modules/tds520c_gpib.c
modules/tds520c_util.c
modules/tds540.c
modules/tds540.map
modules/tds540_gpib.c
modules/tds540_util.c
modules/tds744a.c
modules/tds744a.map
modules/tds744a_gpib.c
modules/tds744a_util.c
modules/tds754a.c
modules/tds754a.map
modules/tds754a_gpib.c
modules/tds754a_util.c
modules/tegam2714a_p.fsc2_so
modules/vxi11.h
modules/vxi11_clnt.c
modules/vxi11_svc.c
modules/vxi11_xdr.c
src/fsc2
src/gpibd
src/fsc2_addr2line
src/fsc2_clean.c
src/fsc2_clean
src/fsc2_connect
src/fsc2_rsc_hr.c
src/fsc2_rsc_hr.h
src/fsc2_rsc_lr.c
src/fsc2_rsc_lr.h
src/fsc2_rsc_lr.o
src/gpib_if.c
src/gpib_if.h
utils/edl-mod.el
utils/edl-mod.elc
utils/edl.vim
utils/me_get_subdevices
edl/aiesr5.hmi-domain/cw_epr_bruker
edl/aiesr5.hmi-domain/cw_epr_sr
edl/aiesr5.hmi-domain/monitor_bruker
edl/aiesr5.hmi-domain/monitor_sr
edl/aiesr5.hmi-domain/mod_amp_bruker
edl/aiesr6.hmi.de/cw_epr_bruker
edl/aiesr6.hmi.de/cw_epr_sr
edl/aiesr6.hmi.de/monitor_bruker
edl/aiesr6.hmi.de/monitor_sr
edl/aiesr6.hmi.de/mod_amp_bruker
edl/fptchpc97.tugraz.at/tresr
edl/hyperion.memphys.uni-frankfurt.de/cw_epr
edl/hyperion.memphys.uni-frankfurt.de/fcntrl
edl/hyperion.memphys.uni-frankfurt.de/fcntrl1
edl/hyperion.memphys.uni-frankfurt.de/freq_check
edl/jband.meetnet.physics.leidenuniv.nl/2_pulse_T2
edl/jband.meetnet.physics.leidenuniv.nl/2_pulse_epr
edl/jband.meetnet.physics.leidenuniv.nl/2_pulse_epr_temp2
edl/jband.meetnet.physics.leidenuniv.nl/3_pulse_EM
edl/jband.meetnet.physics.leidenuniv.nl/3_pulse_T1
edl/jband.meetnet.physics.leidenuniv.nl/3_pulse_endor
edl/jband.meetnet.physics.leidenuniv.nl/3_pulse_endor_xtra
edl/jband.meetnet.physics.leidenuniv.nl/3_pulse_epr
edl/jband.meetnet.physics.leidenuniv.nl/tresr
edl/wband.meetnet.physics.leidenuniv.nl/2_pulse_T2
edl/wband.meetnet.physics.leidenuniv.nl/2_pulse_epr
edl/wband.meetnet.physics.leidenuniv.nl/3_pulse_EM
edl/wband.meetnet.physics.leidenuniv.nl/3_pulse_T1
edl/wband.meetnet.physics.leidenuniv.nl/3_pulse_endor
edl/wband.meetnet.physics.leidenuniv.nl/3_pulse_endor.old
edl/wband.meetnet.physics.leidenuniv.nl/3_pulse_epr
edl/wband.meetnet.physics.leidenuniv.nl/m3_pulse_endor
edl/wband.meetnet.physics.leidenuniv.nl/m3_pulse_endor.old
edl/wband.meetnet.physics.leidenuniv.nl/pulse_monitor
edl/milli.ptc.tugraz.at/kinetic
edl/aiesr6.hmi.de/cw_epr_bruker.EDL
edl/aiesr6.hmi.de/cw_epr_sr.EDL
edl/aiesr6.hmi.de/monitor_bruker.EDL
edl/aiesr6.hmi.de/monitor_sr.EDL
edl/aiesr6.hmi.de/cw_epr_bruker
edl/aiesr6.hmi.de/cw_epr_sr
edl/aiesr6.hmi.de/monitor_bruker
edl/aiesr6.hmi.de/monitor_sr
.tmp_mc_*
FcntlLock/MYMETA.yml
