body {margin:0%;padding:0%;background:white url(background.gif) repeat-y fixed;}
#links {position:fixed;width:200px;height:100%;padding:10px;}
#main {position:absolute;left:220px;width:auto;padding:0 10px 0 10px;background:white;}
code {font-family:monospace;font-weight:bold;}
.example {background-color:#FFD;padding:6px 10px 6px 10px;border:1px solid #DDD;}
